.carousel {
  padding: 5.063rem 0;
  &__inner {
      position: relative;
      width: 46.875rem;
      margin: 0 auto;
  }
  .slick-prev, .slick-next  {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -4.125rem;
      border: none;
      background-color: #fff;
      img {
          width: 1.938rem;
          height: 3.125rem;
      }
  }
  .slick-next  {
      right: -4.125rem;
      left: auto;
  }
}