.promo {
  min-height: 40.625rem;
  padding: 1.313rem 0 5.813rem 0;
  background: url(../img/main.jpg) center (center/cover) no-repeat;
  &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 5.625rem;
  }
  &__header {
      color: #ffffff;
      font-size: 2.625rem;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 2.625rem;
  }
  &__subheader {
      margin-top: 1.063rem;
      color: #ffffff;
      font-size: 1.5rem;
      line-height: 1.5rem;
      font-weight: 500;
      text-transform: uppercase;
  }
  &__icons {
      margin-top: 4.063rem;
      width: 26.563rem;
      display: flex;
      justify-content: space-between;
  }
  &__icon {
      width: 6.75rem;
      text-align: center;
      color: #ffffff;
      font-size: .875rem;
      font-weight: 500;
      img {
          display: block;
          margin: 0 auto;
          margin-bottom: 1.25rem;
      }
  }
  &__link {
      color: #ffffff;
      font-size: 1rem;
      font-weight: 500;
      margin-top: 1.125rem;
      a {
          color: #ffffff;
          text-transform: uppercase;
          text-decoration: underline;
      }
  }
}